<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display_access</h1>
        <table border="3px">
            <thead>
                <tr>
                    <th>PK/ID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for ao in access %}
                    <tr>
                        <td>{{ao.id}}</td>
                        <td>{{ao.name}}</td>
                        <td>{{ao.author}}</td>
                        <td>{{ao.date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>